.promo{
    margin-bottom: 63px;
}

.promo__content{
    display: flex;

    border-radius: 59px;
    background-color: #f4f6f5;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;
}

.promo__text{

}

.promo__title{
    font-weight: 900;
    font-size: 96px;
    line-height: 1.25;

    margin-bottom: 40px;

    max-width: 480px;
}

.promo__desc{
    font-size: 32px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.05em;
    margin-bottom: 32px;
}

.promo__btn-wrapper{
    display: flex;
    column-gap: 34px;
    align-items: center;
}

.promo__btn-wrapper::before{
    content: "";
    display: inline-block;
    width: 190px;
    height: 32px;
    background-image: url(./../../img/icons/decor-yellow.svg);
}


.promo__btn{
    color: white;
    padding: 18px 40px;
    background-color: black;
    border-radius: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;
}

.highlight{
    position: relative;
    display: inline-block;
}

.highlight span{
    position: relative;
}

.highlight::before{
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    bottom: 0px;
    left: -40px;
    right: -160px;
    background-color: #fff;
    transform: rotate(-2deg);
}

.highlight--yellow::before{
    background-color: var(--yellow);
    right: -110px;
}