.arrivals{
    padding-bottom: 143px;
    padding-top: 120px;
}

.arrivals__header{
    margin-bottom: 100px;
}

.arrivals__cards{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}