:root{
    --textColor: #000;
    --yellow: #EBD96B;
    --gray: #7f7f7f;
}

body{
    color: var(--textColor);
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
}

.title-2{
    font-weight: 900;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: 0.06em;

    position: relative;

    display: inline-block;
}

.title-2::after{
    content: "";

    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 190px;
    height: 32px;

    background-image: url('./../img/icons/decor-yellow.svg');
    background-repeat: no-repeat;
}