.form {
    background-color: rgb(229, 198, 67);
    padding-top: 141px;
    padding-bottom: 158px;
}
.form__title h1{

    color: rgb(255, 255, 255);
    font-size: 55px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 3%;
    text-align: center;

}
.form__title{

    max-width: 970px;
    margin: 0 auto;
}
.form__subtitle {
    margin-top: 37px;
    color: rgb(255, 252, 248);
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 3%;
    text-align: center;
}

form{
    margin-top: 49px;
    display: flex;
    justify-content: center;
}

form input{
    padding: 27px 50px 21px 27px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: rgb(255, 255, 255);
}

form button{
    color: rgb(255, 255, 255);
    font-size: 33px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 3%;

    text-transform: capitalize;


    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
}

form input::placeholder{

}

form p{
    background-color: black;
    padding: 17px 35px 15px 38px;
    border-radius: 8px;
}